USE MASTER
GO
IF EXISTS (SELECT * FROM SYS.DATABASES WHERE NAME='QuanLyThuVien')
DROP DATABASE [QuanLyThuVien]
GO
CREATE DATABASE [QuanLyThuVien]
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 31/05/2023 10:19:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[STT_PHIEU] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[NGAYMUON] [date] NULL,
	[NGAYTRA] [date] NULL,
	[SOLUONG] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[STT_PHIEU] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [int] IDENTITY(1,1) NOT NULL,
	[TENCD] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[MALOAIDG] [int] NULL,
	[TENDG] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](13) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIDOCGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDOCGIA](
	[MALOAIDG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDG] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[TENNV] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXB]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAXB](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](13) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[STT_PHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MADG] [int] NULL,
	[MANV] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MACD] [int] NULL,
	[MATG] [int] NULL,
	[MANXB] [int] NULL,
	[NAMXB] [int] NULL,
	[SOTRANG] [int] NULL,
	[SOLUONG] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACHMUON]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACHMUON](
	[MASACHMUON] [int] IDENTITY(1,1) NOT NULL,
	[STT_PHIEU] [int] NULL,
	[MASACH] [int] NULL,
	[MADG] [int] NULL,
 CONSTRAINT [PK_SACHMUON] PRIMARY KEY CLUSTERED 
(
	[MASACHMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [int] IDENTITY(1,1) NOT NULL,
	[TENTG] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTaiKhoan] [int] NOT NULL,
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOCTG]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOCTG](
	[MASACH] [int] NOT NULL,
	[MATG] [int] NOT NULL,
 CONSTRAINT [PK_THUOCTG] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vi_Book]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[vi_Book] As
SELECT SACH.MASACH, SACH.TENSACH, CHUDE.TENCD, TACGIA.TENTG, NHAXB.TENNXB, SACH.NAMXB, SACH.SOLUONG
FROM SACH, CHUDE, TACGIA, NHAXB
WHERE SACH.MACD = CHUDE.MACD AND SACH.MATG = TACGIA.MATG AND SACH.MANXB = NHAXB.MANXB
GO
/****** Object:  View [dbo].[vi_Books]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[vi_Books] as
SELECT CHITIETPHIEUMUON.STT_PHIEU, DOCGIA.TENDG, SACH.TENSACH, CHUDE.TENCD, TACGIA.TENTG, NHAXB.TENNXB, SACH.NAMXB, CHITIETPHIEUMUON.SOLUONG
FROM DOCGIA, SACH, CHUDE, TACGIA, NHAXB, CHITIETPHIEUMUON, PHIEUMUON
WHERE SACH.MACD = CHUDE.MACD AND SACH.MATG = TACGIA.MATG AND SACH.MANXB = NHAXB.MANXB AND CHITIETPHIEUMUON.MASACH = SACH.MASACH AND DOCGIA.MADG = PHIEUMUON.MADG AND PHIEUMUON.STT_PHIEU = CHITIETPHIEUMUON.STT_PHIEU
GO
/****** Object:  View [dbo].[vi_NoteDetails]    Script Date: 31/05/2023 10:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[vi_NoteDetails] As
SELECT CHITIETPHIEUMUON.STT_PHIEU, SACH.TENSACH, CHITIETPHIEUMUON.NGAYMUON, CHITIETPHIEUMUON.NGAYTRA, CHITIETPHIEUMUON.GHICHU
FROM CHITIETPHIEUMUON, PHIEUMUON, SACH
WHERE CHITIETPHIEUMUON.STT_PHIEU = PHIEUMUON.STT_PHIEU AND CHITIETPHIEUMUON.MASACH = SACH.MASACH
GO
INSERT [dbo].[CHITIETPHIEUMUON] ([STT_PHIEU], [MASACH], [NGAYMUON], [NGAYTRA], [SOLUONG], [GHICHU]) VALUES (5, 6, CAST(N'2023-05-08' AS Date), CAST(N'2023-05-08' AS Date), 2, N'')
INSERT [dbo].[CHITIETPHIEUMUON] ([STT_PHIEU], [MASACH], [NGAYMUON], [NGAYTRA], [SOLUONG], [GHICHU]) VALUES (5, 7, CAST(N'2023-04-11' AS Date), CAST(N'2023-04-11' AS Date), NULL, N'')
INSERT [dbo].[CHITIETPHIEUMUON] ([STT_PHIEU], [MASACH], [NGAYMUON], [NGAYTRA], [SOLUONG], [GHICHU]) VALUES (5, 8, CAST(N'2023-04-19' AS Date), CAST(N'2023-04-19' AS Date), NULL, N'New')
SET IDENTITY_INSERT [dbo].[CHUDE] ON 

INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (1, N'Công nghệ thông tin')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (2, N'Luật')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (3, N'Dược học')
SET IDENTITY_INSERT [dbo].[CHUDE] OFF
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MADG], [MALOAIDG], [TENDG], [GIOITINH], [DIACHI], [SDT]) VALUES (1, 2, N'Trần Công Hào', N'Nam', N'Tx. Ngã Năm, Sóc Trăng', N'0377723874')
INSERT [dbo].[DOCGIA] ([MADG], [MALOAIDG], [TENDG], [GIOITINH], [DIACHI], [SDT]) VALUES (2, 2, N'Nguyễn Bùi Thanh Hoan', N'Nam', N'Tx. Ngã Năm, Sóc Trăng', N'')
INSERT [dbo].[DOCGIA] ([MADG], [MALOAIDG], [TENDG], [GIOITINH], [DIACHI], [SDT]) VALUES (3, 2, N'Nguyễn Hoàng Nam', N'Nam', N'', N'')
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
SET IDENTITY_INSERT [dbo].[LOAIDOCGIA] ON 

INSERT [dbo].[LOAIDOCGIA] ([MALOAIDG], [TENLOAIDG]) VALUES (1, N'Giảng viên')
INSERT [dbo].[LOAIDOCGIA] ([MALOAIDG], [TENLOAIDG]) VALUES (2, N'Sinh viên')
SET IDENTITY_INSERT [dbo].[LOAIDOCGIA] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [MaTaiKhoan], [TENNV]) VALUES (1, 1, N'Thủ thư')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAXB] ON 

INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (1, N'NXB Kim Đồng', N'55 Quang Trung, Hà Nội', N'024 39434730')
INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (2, N'NXB TP.Hồ Chi Minh', N'Phường Đa Kao, Quận 1, TP. HCM ', N'028 38256804')
INSERT [dbo].[NHAXB] ([MANXB], [TENNXB], [DIACHI], [SDT]) VALUES (3, N'NXB Trẻ', N'Quận 3, TP. Hồ Chí Minh', N'028 39316289')
SET IDENTITY_INSERT [dbo].[NHAXB] OFF
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([STT_PHIEU], [MADG], [MANV]) VALUES (5, 4, 1)
INSERT [dbo].[PHIEUMUON] ([STT_PHIEU], [MADG], [MANV]) VALUES (4, 2, 1)
INSERT [dbo].[PHIEUMUON] ([STT_PHIEU], [MADG], [MANV]) VALUES (6, 1, 1)
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MACD], [MATG], [MANXB], [NAMXB], [SOTRANG], [SOLUONG]) VALUES (4, N'Nhập môn CNPM', 1, 1, 5, 2020, 99, 100)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MACD], [MATG], [MANXB], [NAMXB], [SOTRANG], [SOLUONG]) VALUES (5, N'Kỹ thuật lập trình', 1, 1, 5, 2020, 99, 110)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MACD], [MATG], [MANXB], [NAMXB], [SOTRANG], [SOLUONG]) VALUES (6, N'Lập trình Web', 1, 1, 5, 2021, 120, 50)
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (1, N'Huỳnh Võ Hữu Trí')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (2, N'Đoàn Hòa Minh')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (3, N'Nguyễn Trung Kiên')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
INSERT [dbo].[TAIKHOAN] ([MaTaiKhoan], [TENDANGNHAP], [MATKHAU]) VALUES (1, N'admin', N'123')
INSERT [dbo].[TAIKHOAN] ([MaTaiKhoan], [TENDANGNHAP], [MATKHAU]) VALUES (2, N'thuthu', N'123')
/****** Object:  Index [PK_CHUDE]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[CHUDE] ADD  CONSTRAINT [PK_CHUDE] PRIMARY KEY NONCLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [PK_DOCGIA] PRIMARY KEY NONCLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIDOCGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[LOAIDOCGIA] ADD  CONSTRAINT [PK_LOAIDOCGIA] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHAXB]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[NHAXB] ADD  CONSTRAINT [PK_NHAXB] PRIMARY KEY NONCLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHIEUMUON]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[PHIEUMUON] ADD  CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY NONCLUSTERED 
(
	[STT_PHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SACH]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [PK_SACH] PRIMARY KEY NONCLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TACGIA]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[TACGIA] ADD  CONSTRAINT [PK_TACGIA] PRIMARY KEY NONCLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 31/05/2023 10:19:46 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUMUO] FOREIGN KEY([STT_PHIEU])
REFERENCES [dbo].[PHIEUMUON] ([STT_PHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUMUO]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_THUOC_LOAIDOCG] FOREIGN KEY([MALOAIDG])
REFERENCES [dbo].[LOAIDOCGIA] ([MALOAIDG])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_THUOC_LOAIDOCG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_SUDUNG_TAIKHOAN] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_SUDUNG_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUO_LAPPHIEU_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUO_LAPPHIEU_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUO_MUONSACH_DOCGIA] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUO_MUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THUOCCD_CHUDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THUOCCD_CHUDE]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THUOCNHAX_NHAXB] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXB] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THUOCNHAX_NHAXB]
GO
ALTER TABLE [dbo].[SACHMUON]  WITH CHECK ADD  CONSTRAINT [FK_SACHMUON_DOCGIA] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[SACHMUON] CHECK CONSTRAINT [FK_SACHMUON_DOCGIA]
GO
ALTER TABLE [dbo].[SACHMUON]  WITH CHECK ADD  CONSTRAINT [FK_SACHMUON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[SACHMUON] CHECK CONSTRAINT [FK_SACHMUON_SACH]
GO
ALTER TABLE [dbo].[THUOCTG]  WITH CHECK ADD  CONSTRAINT [FK_THUOCTG_THUOCTG_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[THUOCTG] CHECK CONSTRAINT [FK_THUOCTG_THUOCTG_SACH]
GO
ALTER TABLE [dbo].[THUOCTG]  WITH CHECK ADD  CONSTRAINT [FK_THUOCTG_THUOCTG2_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[THUOCTG] CHECK CONSTRAINT [FK_THUOCTG_THUOCTG2_TACGIA]
GO
